h3 {
    color: chocolate;
}

thead {
    color: cornflowerblue;
    font: bold 10pt "PT Mono";
}

tr {
    margin-left: 100px;
    color: #828282;
    font-family: 'PT Mono';
}

body {
    padding-left: 15px;
}