body {
    background: white url('/static/images/back.jpg');
}
.navbar {
    border-radius: 0;
}
h3 {
    color: lightblue;
    padding-left: 15px;
}
th {
    padding-bottom: 10px;
    color: lightsteelblue;
    padding-left: 30px;
}
td {
    font-family: 'PT Mono';
    padding-left: 30px;
    color: darkgrey;
}