body {
    background: white url("back.jpg");
}
h3 {
    color: chocolate;
}
th {
    padding-bottom: 10px;
;
    color: lightsteelblue;
    padding-left: 30px;
}
td {
    padding-left: 30px;
    color: darkgrey;
}