@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
    margin: 0;
    background-color: #eee;
}
nav {
	height: 40px;
	font-family: 'Dosis', sans-serif;
	background: #222;
}
nav ul {
    list-style: none;
	margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    display: block;
    letter-spacing: 2px;
    padding: 7px 20px;
    height: 26px;
    color: #eee;
    font-size: 1.3em;
    transition: .5s linear
}
nav a.logo {
    padding: 5px 50px 5px 10px;
    height: 30px;
}
nav a.ico {
    padding: 6px 15px;
    height: 28px;
}
nav .anim_ico {
    position:relative;
    margin:0 auto;
    width:28px;
    height: 28px;
}
nav .anim_ico img { position:absolute; }
nav .anim_ico img.first_ico { opacity:0; }
nav .anim_ico:hover img.first_ico { opacity:1; }
nav .anim_ico:hover img.second_ico, .animate2 img.second_ico:hover { opacity:0; transition: .5s linear;}
nav li a.active { color: white; }
nav li a:hover {
    background: #262926;
    color: #0fff80;
}
nav li.last { float: right; }
.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}
.topmenu > li {float: left;}
.topmenu > li:hover > .submenu { visibility: visible; }
.submenu {
    position: absolute;
    min-width: 100px;
    background: #222;
    visibility: hidden;
}
.submenu > li > a { font-size: 1.2em; }
