<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
{#    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Test</title>
</head>
<body>
    <header class="container">
        <nav>
            <ul class="topmenu">
                <li><a href="#"><span>blog</span></a></li>
                <li><a href="#"><span>home</span></a></li>
                <li><a href="#"><span>notes</span></a>
                    <ul class="submenu">
                        <li><a href="#"><span>regex</span></a></li>
                        <li><a href="#"><span>linux</span></a></li>
                        <li><a href="#"><span>git</span></a></li>
                    </ul>
                </li>
                <li><a href="#"><span>about</span></a></li>
                <li class="last"><a href="#"><span>login</span></a></li>
            </ul>
        </nav>
    </header>
    <section class="container"></section>
    <footer class="container"></footer>
</body>
</html>