{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/note.css' %}">
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <div>
        <h3>Регулярные выражения</h3>
    </div>
    <div>
        <table><thead>Якоря</thead>
            <tr><td>^</td><td>Начало строки +</td></tr>
            <tr><td>$</td><td>Конец строки +</td></tr>
            <tr><td>\A</td><td>Начало текста +</td></tr>
            <tr><td>\Z</td><td>Конец текста +</td></tr>
            <tr><td>\b</td><td>Граница слова +</td></tr>
            <tr><td>\B</td><td>Не граница слова +</td></tr>
            <tr><td>\<</td><td>Начало слова</td></tr>
            <tr><td>\></td><td>Конец слова</td></tr>
        </table>
    </div>

</body>
</html>