{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<header>
    {% block nav %}
        {% include "nav.html" %}
    {% endblock %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
</footer>
</body>
</html>