.hide, .hide + label ~ div { display: none; }
.hide + label {
    padding: 0 10px;;
    color: green;
    cursor: pointer;
    border-bottom: 1px dotted green;
}
.hide:checked + label {
    color: darkgreen;
    border-bottom: 0;
}
.hide:checked + label + div {
    display: block;
    color: forestgreen;
    background: #f1fff1;
    box-shadow: inset 0px 0px 1px darkgreen;
    padding: 10px;
}